0       *       *       *       * zsh /root/OBS-ArchLinux/home:mazdlc/_SCRIPTS/bump-nonvcs.sh
10      *       *       *       * zsh /root/OBS-ArchLinux/home:mazdlc:missing/_TEMPLATE/bump.sh
50      */2     *       *       * zsh /root/OBS-ArchLinux/home:mazdlc:multilib/_TEMPLATE/bump.sh
40      *       *       *       * zsh /root/OBS-ArchLinux/home:mazdlc/_SCRIPTS/bump-vcs.sh
*/5     *       *       *       * zsh /root/OBS-ArchLinux/home:mazdlc/_SCRIPTS/down.sh
40      *       *       *       * zsh /root/OBS-ArchLinux/home:mazdlc:deadbeef-plugins/_SCRIPTS/bump.sh
# fix broken package
30      10      *       *       * zsh /root/OBS-ArchLinux/home:mazdlc:missing/_TEMPLATE/down.sh
30      12      *       *       * zsh /root/OBS-ArchLinux/home:mazdlc:multilib/_TEMPLATE/down.sh
# bump the  osc repo
30      3       *       *       * cd /root/OBS-ArchLinux/home:mazdlc/ && osc up
30      4       *       *       * cd /root/OBS-ArchLinux/home:mazdlc:missing/ && osc up
30      7       *       *       * cd /root/OBS-ArchLinux/home:mazdlc:multilib/ && osc up
30      9       *       *       * cd /root/OBS-ArchLinux/home:mazdlc:gimp-plugins/ && osc up