[Desktop Entry]
Type=Application
Name=Snapper GUI
GenericName=Snapper GUI
Comment=Managing BTRFS and LVM snapshots
Exec=pkexec snapper-gui
Icon=snapper-gui
Categories=System;Filesystem;
